/* Fenster Raum, Benutzer, Einstellungen, Hilfe */
body {
	color:#000000;
	background-color:#ffffff;
	/* background-image: url(test.png); */
}
a {
	color:#0000FF;
	text-decoration:none;
}
a:active {
	color:#000080;
	text-decoration:none;
}