/* Farbdeklarationen - Anfang ******************************************************************* */
:root{
	--Tabellenkopf-Hintergrundfarbe: #007ABE;
	--Tabellenkopf-Textfarbe: #ffffff;;
	--Tabellenkopf-Linkfarbe: #ffffff;;
	
	--Tabelle-Geruest-Hintergrundfarbe: #000000;
	
	--Tabellenkoerper-Hintergrundfarbe: #ffffff;
	--Tabellenkoerper-Textfarbe: #000000;
	--Tabellenkoerper-Linkfarbe: #000000;
	
	--Tabellenkoerper-Login-Hintergrundfarbe: #85D4FF;
	--Tabellenkoerper-Login-Textfarbe: #000000;
	--Tabellenkoerper-Login-Linkfarbe: #000000;
	
	--Button-Hintergrundfarbe: #cccccc;
	--Button-Textfarbe: #000000;
	
	--Button-Hover-Hintergrundfarbe: #23282d;
	--Button-Hover-Textfarbe: #ffffff;
	
	--FA-Iconfarbe: #0097D4;
	--FA-Iconfarbe-Highlighted: #ff6600;
	
	--Tabelle-Zeile1: #E8E8FF;
	--Tabelle-Zeile2: #D8D8EE;
	
	--Tabelle-Zeile-Moderator-1g: #d0e0d0;
	--Tabelle-Zeile-Moderator-2g: #c0d0c0;
	--Tabelle-Zeile-Moderator-1r: #e0d0d0;
	--Tabelle-Zeile-Moderator-2r: #d0c0c0;
	
	--Moderatorenfarben-grau: #808080;
	--Moderatorenfarben-schwarz: #000000;
	
	--Statistik-Balkenfarbe: #007ABE;
	--Statistik-Navigation-Hintergrundfarbe: #BDC6D5;
	--Statistik-Inhalt-Hintergrundfarbe: #E5E5E5;
	
	--Nachrichten-neu: #ff0000;
}
/* Farbdeklarationen - Ende ******************************************************************* */


/* Allgemeines - Anfang ******************************************************************* */
body {
	font-family: Tahoma, Helvetica, sans-serif;
}
/* Allgemeines - Ende ******************************************************************* */


/* Icons - Anfang ******************************************************************* */
.fa {
	color: var(--FA-Iconfarbe);
}

.fa-highlighted {
	color: var(--FA-Iconfarbe-Highlighted);
}

.icon16 {
	font-size:14px !important;
	height:16px;
	line-height:16px !important;
	width:16px
}

.icon24 {
	font-size:18px !important;
	height:24px;
	line-height:24px !important;
	width:24px
}

/* Icons - Ende ******************************************************************* */


/* Buttons - Anfang ******************************************************************* */
.button {
	background-color: var(--Button-Hintergrundfarbe);
	color: var(--Button-Textfarbe) !important;
	border-radius: 2px;
	border-width: 0;
	cursor: pointer;
	/*font-weight: 400;*/
	margin: 0;
	padding: 6px 8px;
	font-size: 11px;
	text-decoration: none;
	line-height: 1.48;
	-webkit-appearance: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover, html:not(.touch) a.button:hover {
	background-color: var(--Button-Hover-Hintergrundfarbe);
	color: var(--Button-Hover-Textfarbe) !important;
	text-decoration: none;
}
/* Buttons - Ende ******************************************************************* */


/* Tabellenkopf - Anfang ******************************************************************* */
.tabelle_kopf {
	border-radius: 3px;
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	width: 100%;
	margin-bottom: 10px;
}
/* Tabellenkopf - Ende ******************************************************************* */


/* Tabellenkopf ohne feste Breite - Anfang ******************************************************************* */
.tabelle_kopf2 {
	border-radius: 3px;
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	margin-bottom: 10px;
}
/* Tabellenkopf ohne feste Breite - Ende ******************************************************************* */


/* Tabellenkopfzeile - Anfang ******************************************************************* */
.tabelle_kopfzeile {
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	color: var(--Tabellenkopf-Textfarbe);
	font-weight: bold;
	padding: 5px;
}

/* Linkfarbe */
.tabelle_kopfzeile a, .tabelle_kopfzeile a:link, .tabelle_kopfzeile a:visited {
	color: var(--Tabellenkopf-Linkfarbe);
	text-decoration:none;
}
.tabelle_kopfzeile a:hover {
	color: var(--Tabellenkopf-Linkfarbe);
	text-decoration:none;
}
/* Tabellenkopfzeile - Ende ******************************************************************* */


/* Tabellenkoerper - Anfang ******************************************************************* */
.tabelle_koerper {
	color: var(--Tabellenkoerper-Textfarbe);
	background-color: var(--Tabellenkoerper-Hintergrundfarbe);
	padding-left:2px;
	padding-right:2px;
}

/* Linkfarbe */
.tabelle_koerper a, .tabelle_koerper a:link, .tabelle_koerper a:visited {
	color: var(--Tabellenkoerper-Linkfarbe);
	text-decoration:none;
}
.tabelle_koerper a:hover {
	color: var(--Tabellenkoerper-Linkfarbe);
	text-decoration:none;
}
/* Tabellenkoerper - Ende ******************************************************************* */


/* Tabelle Gerüst - Anfang ******************************************************************* */
.tabelle_gerust {
	background-color: var(--Tabelle-Geruest-Hintergrundfarbe);
	margin:auto;
	width:98%;
	border-collapse:collapse;
}
/* Tabelle Gerüst - Ende ******************************************************************* */

/* Tabelle Gerüst2 - Anfang ******************************************************************* */
.tabelle_gerust2 {
	margin:auto;
	width:98%;
	border-collapse:collapse;
}
/* Tabelle Gerüst2 - Ende ******************************************************************* */


/* Tabellenkoerper Login - Anfang ******************************************************************* */
.tabelle_koerper_login {
	color: var(--Tabellenkoerper-Login-Textfarbe);
	background-color: var(--Tabellenkoerper-Login-Hintergrundfarbe);
	padding-left:2px;
	padding-right:2px;
}

/* Linkfarbe */
.tabelle_koerper_login a, .tabelle_koerper_login a:link, .tabelle_koerper_login a:visited {
	color: var(--Tabellenkoerper-Login-Linkfarbe);
	text-decoration:none;
}
.tabelle_koerper_login a:hover {
	color: var(--Tabellenkoerper-Login-Linkfarbe);
	text-decoration:none;
}
/* Tabellenkoerper Login - Ende ******************************************************************* */


/* Tabellenzeile 1 - Anfang ******************************************************************* */
.tabelle_zeile1 {
	background-color: var(--Tabelle-Zeile1);
	padding: 2px;
}
/* Tabellenzeile 1 - Ende ******************************************************************* */


/* Tabellenzeile 2 - Anfang ******************************************************************* */
.tabelle_zeile2 {
	background-color: var(--Tabelle-Zeile2);
	padding: 2px;
}
/* Tabellenzeile 2 - Ende ******************************************************************* */


/* Statistik Tabelle Navigation - Anfang ******************************************************************* */
.tabelle_statistics_navigation {
	background-color: var(--Statistik-Navigation-Hintergrundfarbe);
}
/* Statistik Tabelle Navigation - Ende ******************************************************************* */


/* Statistik Tabelle Inhalt - Anfang ******************************************************************* */
.tabelle_statistics_content {
	vertical-align:bottom;
	text-align:center;
	background-color: var(--Statistik-Inhalt-Hintergrundfarbe);
}
/* Statistik Tabelle Inhalt - Ende ******************************************************************* */


/* Tabellenzeilen Moderator - Anfang ******************************************************************* */
.tabelle_zeile_moderator_1g {
	background-color: var(--Tabelle-Zeile-Moderator-1g);
}

.tabelle_zeile_moderator_2g {
	background-color: var(--Tabelle-Zeile-Moderator-2g);
}

.tabelle_zeile_moderator_1r {
	background-color: var(--Tabelle-Zeile-Moderator-1r);
}

.tabelle_zeile_moderator_2r {
	background-color: var(--Tabelle-Zeile-Moderator-2r);
}
/* Tabellenzeilen Moderator - Ende ******************************************************************* */


/* Moderatorenfarben - Anfang ******************************************************************* */
.moderator_grau {
	color: var(--Moderatorenfarben-grau);
}

.moderator_schwarz {
	color: var(--Moderatorenfarben-schwarz);
}
/* Moderatorenfarben - Ende ******************************************************************* */


/* Statistiken - Anfang ******************************************************************* */
.statistiken_balken {
	width:14px;
	background-color: var(--Statistik-Balkenfarbe);
	border-radius: 5px;
	margin:auto;
}
/* Statistiken - Ende ******************************************************************* */


/* Naxchrichten - Anfang ******************************************************************* */
.nachrichten_neu {
	color: var(--Nachrichten-neu);
	font-weight: bold;
}
/* Naxchrichten - Ende ******************************************************************* */
