/* Allgemeines - Anfang ******************************************************************* */
body {
	color: var(--Textfarbe);
	background-color: var(--Hintergrundfarbe);
	font-family: Tahoma, Helvetica, sans-serif;
}

a, a:link, a:visited {
	color: var(--Tabellenkoerper-Linkfarbe);
}

a:hover {
	color: var(--Tabellenkoerper-Linkfarbe);
}

/* Linkfarbe */
.tabelle_koerper a, .tabelle_koerper a:link, .tabelle_koerper a:visited {
	color: var(--Tabellenkoerper-Linkfarbe);
}
.tabelle_koerper a:hover {
	color: var(--Tabellenkoerper-Linkfarbe);
}

.erfolgreich {
	border: 0px;
	padding: 10px 20px 10px 20px;
	position: relative;
	border-radius: 3px;
	background-color: var(--Erfolgreich-Farbe);
}

.fehler {
	border: 0px;
	padding: 10px 20px 10px 20px;
	position: relative;
	border-radius: 3px;
	background-color: var(--Fehler-Farbe);
}

.hinweis {
	border: 0px;
	padding: 10px 20px 10px 20px;
	position: relative;
	border-radius: 3px;
	background-color: var(--Hinweis-Farbe);
}

.smaller {
	font-size: smaller;
}

.chatunten {
	background-color: var(--Chatunten-Hintergrundfarbe);
}
/* Allgemeines - Ende ******************************************************************* */


/* Icons - Anfang ******************************************************************* */
.fa {
	color: var(--FA-Iconfarbe);
}

.fa-highlighted {
	color: var(--FA-Iconfarbe-Highlighted);
}

.icon16 {
	font-size:14px !important;
	height:16px;
	line-height:16px !important;
	width:16px
}

.icon24 {
	font-size:18px !important;
	height:24px;
	line-height:24px !important;
	width:24px
}

.user_online {
	color: #289b28;
}

.user_offline {
	color: #8E2020;
}

/* Icons - Ende ******************************************************************* */


/* Buttons - Anfang ******************************************************************* */
.button {
	background-color: var(--Button-Hintergrundfarbe);
	color: var(--Button-Textfarbe) !important;
	border-radius: 2px;
	border-width: 0;
	cursor: pointer;
	padding: 6px 8px;
	font-size: 11px;
	display: inline-block;
	text-decoration: none;
	line-height: 1.48;
	-webkit-appearance: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover, html:not(.touch) a.button:hover {
	background-color: var(--Button-Hover-Hintergrundfarbe);
	color: var(--Button-Hover-Textfarbe) !important;
	text-decoration: none;
}
/* Buttons - Ende ******************************************************************* */


/* Tabellenkopf - Anfang ******************************************************************* */
.tabelle_kopf {
	border-radius: 3px;
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	margin-bottom: 10px;
	width: 100%;
}
/* Tabellenkopf - Ende ******************************************************************* */


/* Tabellenkopf mit fester Breite zentriert - Anfang ******************************************************************* */
.tabelle_kopf_zentriert {
	border-radius: 3px;
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	width: 99%;
	margin: auto;
	margin-bottom: 10px;
}
/* Tabellenkopf mit fester Breite zentriert - Ende ******************************************************************* */


/* Tabellenkopfzeile - Anfang ******************************************************************* */
.tabelle_kopfzeile {
	background-color: var(--Tabellenkopf-Hintergrundfarbe);
	color: var(--Tabellenkopf-Textfarbe);
	font-weight: bold;
	padding: 5px;
}

/* Linkfarbe */
.tabelle_kopfzeile a, .tabelle_kopfzeile a:link, .tabelle_kopfzeile a:visited {
	color: var(--Tabellenkopf-Linkfarbe);
	text-decoration:none;
}
.tabelle_kopfzeile a:hover {
	color: var(--Tabellenkopf-Linkfarbe);
	text-decoration:none;
}
/* Tabellenkopfzeile - Ende ******************************************************************* */


/* Tabellenkoerper - Anfang ******************************************************************* */
.tabelle_koerper {
	color: var(--Tabellenkoerper-Textfarbe);
	background-color: var(--Tabellenkoerper-Hintergrundfarbe);
	padding-left:2px;
	padding-right:2px;
}

/* Linkfarbe */
.tabelle_koerper a, .tabelle_koerper a:link, .tabelle_koerper a:visited {
	text-decoration:underline;
}
.tabelle_koerper a:hover {
	text-decoration:underline;
}
/* Tabellenkoerper - Ende ******************************************************************* */


/* Tabelle Gerüst - Anfang ******************************************************************* */
.tabelle_gerust {
	background-color: var(--Tabelle-Geruest-Hintergrundfarbe);
	margin:auto;
	width:98%;
	border-collapse:collapse;
}
/* Tabelle Gerüst - Ende ******************************************************************* */

/* Tabelle Gerüst2 - Anfang ******************************************************************* */
.tabelle_gerust2 {
	margin:auto;
	width:98%;
	border-collapse:collapse;
}
/* Tabelle Gerüst2 - Ende ******************************************************************* */


/* Tabellenzeile 1 - Anfang ******************************************************************* */
.tabelle_zeile1 {
	background-color: var(--Tabelle-Zeile1);
	padding: 2px;
	text-decoration:none;
}

.tabelle_zeile1 a, .tabelle_zeile1 a:active {
	text-decoration:none !important;
}
/* Tabellenzeile 1 - Ende ******************************************************************* */


/* Tabellenzeile 2 - Anfang ******************************************************************* */
.tabelle_zeile2 {
	background-color: var(--Tabelle-Zeile2);
	padding: 2px;
	text-decoration:none;
}

.tabelle_zeile2 a, .tabelle_zeile2 a:active {
	text-decoration:none !important;
}
/* Tabellenzeile 2 - Ende ******************************************************************* */


/* Statistik Tabelle Navigation - Anfang ******************************************************************* */
.tabelle_statistics_navigation {
	background-color: var(--Statistik-Navigation-Hintergrundfarbe);
}
/* Statistik Tabelle Navigation - Ende ******************************************************************* */


/* Statistik Tabelle Inhalt - Anfang ******************************************************************* */
.tabelle_statistics_content {
	vertical-align:bottom;
	text-align:center;
	background-color: var(--Statistik-Inhalt-Hintergrundfarbe);
}
/* Statistik Tabelle Inhalt - Ende ******************************************************************* */


/* Tabellenzeilen Moderator - Anfang ******************************************************************* */
.tabelle_zeile_moderator_1g {
	background-color: var(--Tabelle-Zeile-Moderator-1g);
}

.tabelle_zeile_moderator_2g {
	background-color: var(--Tabelle-Zeile-Moderator-2g);
}

.tabelle_zeile_moderator_1r {
	background-color: var(--Tabelle-Zeile-Moderator-1r);
}

.tabelle_zeile_moderator_2r {
	background-color: var(--Tabelle-Zeile-Moderator-2r);
}
/* Tabellenzeilen Moderator - Ende ******************************************************************* */


/* Moderatorenfarben - Anfang ******************************************************************* */
.moderator_grau {
	color: var(--Moderatorenfarben-grau);
}

.moderator_schwarz {
	color: var(--Moderatorenfarben-schwarz);
}
/* Moderatorenfarben - Ende ******************************************************************* */


/* Statistiken - Anfang ******************************************************************* */
.statistiken_balken {
	width:14px;
	background-color: var(--Statistik-Balkenfarbe);
	border-radius: 5px;
	margin:auto;
}
/* Statistiken - Ende ******************************************************************* */


/* Nachrichten - Anfang ******************************************************************* */
.nachrichten_neu {
	color: var(--Nachrichten-neu);
	font-weight: bold;
}
/* Nachrichten - Ende ******************************************************************* */


/* Private Nachrichten hervorheben - Anfang ******************************************************************* */
.nachrichten_oeffentlich {
	color: var(--Chatmodus-Nachrichten-oeffentlich);
}

.nachrichten_privat {
	color: var(--Chatmodus-Nachrichten-privat);
}
/* Private Nachrichten hervorheben - Ende ******************************************************************* */

/* Ajax Template
    ******************************************************************* */

#view_ajax {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

#ajaxForm{
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  margin-top: 10px;
}

/* Ajax Template Ende
    ******************************************************************* */
