body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Linkfarbe allgemein */ 
a, a:link, a:visited {
	color:#0000FF;
	text-decoration:none;
}
a:hover {
	color:#0000FF;
	text-decoration:none;
}


/* --------------------------------------------------------------------------------------------- */
/* Tabellenkopf */ 
.tabelle_kopf {
	background-color:#007ABE;
	width:100%
}


/* --------------------------------------------------------------------------------------------- */
/* Tabelle - Kopfzeile */ 
.tabelle_kopfzeile {
	background-color:#007ABE;
	color:#ffffff;
	font-weight: bold;
}

/* Linkfarbe */
.tabelle_kopfzeile a, .tabelle_kopfzeile a:link, .tabelle_kopfzeile a:visited {
	color:#ffffff;
	text-decoration:none;
}
.tabelle_kopfzeile a:hover {
	color:#ffffff;
	text-decoration:none;
}


/* --------------------------------------------------------------------------------------------- */
/* Tabellenkörper */ 
.tabelle_koerper {
	color:#000000;
	background-color:#ffffff;
	padding-left:2px; padding-right:2px;

}

/* Linkfarbe */
.tabelle_koerper a, .tabelle_koerper a:link, .tabelle_koerper a:visited {
	color:#000000;
	text-decoration:none;
}
.tabelle_koerper a:hover {
	color:#000000;
	text-decoration:none;
}


/* --------------------------------------------------------------------------------------------- */
/* Tabellenkörper - Login */ 
.tabelle_koerper_login {
	color:#000000;
	background-color:#85D4FF;
	padding-left:2px; padding-right:2px;

}

/* Linkfarbe */
.tabelle_koerper_login a, .tabelle_koerper_login a:link, .tabelle_koerper_login a:visited {
	color:#000000;
	text-decoration:none;
}
.tabelle_koerper_login a:hover {
	color:#000000;
	text-decoration:none;
}